@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&display=swap");

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins";
    overflow: hidden;
    height: 99vh;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0px 80px;
    height: 20vh;
    align-items: center;
    overflow-x: auto;
}

.list {
    position: relative;
    display: flex;
    gap: 80px;
    list-style: none;
    font-size: 13px;
    align-items: center;
    color: #758283;
}

.logo img {
    width: 100px;
    margin-right: 50px;
}

.list .line {
    position: absolute;
    right: 30rem;
    width: 65%;
    height: 1.7px;
    background-color: black;
}

.main-cont {
    display: flex;
}

.image-wrapper {
    width: 35vw;
}

.left-img {
    width: 35vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.left-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.list-item:nth-child(1) {
    font-weight: 800;
    color: #000 !important;
}

.right-wrapper {
    display: flex;
    width: 60vw;
    position: relative;
}

.heading {
    position: absolute;
    left: 10%;
    top: -45px;
}

.heading h1 {
    display: inline-block;
    font-family: "Merriweather";
    font-weight: 900px;
    color: #333;
    font-size: 7rem;
}

.heading > h1 {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

.heading > h1::after {
    width: 29px;
    content: "-";
    height: 12px;
    display: inline-block;
}

.heading div {
    margin-top: -30px;
    margin-left: 8rem;
}

.heading p {
    display: inline-block;
    font-size: 2rem;
    color: #898888;
    line-height: 2rem;
    padding-left: 40px;
    padding-top: 30px;
}

.btn-wrapper {
    padding: 20px 20px;
    width: 270px;
    font-size: 18px;
    position: absolute;
    top: 17rem;
    left: 31.5rem;
    background-color: #333;
    border: none;
    color: aliceblue;
    cursor: pointer;
}

.icons {
    display: flex;
    flex-direction: column;
    gap: 45px;
    position: absolute;
    top: -2rem;
    right: 1rem;
}

.icon {
    width: 20px;
}

.icons .icon:nth-child(3) {
    width: 14px;
}

/* <!------------------Bottom sec -----------------------> */
.bottom {
    position: absolute;
    top: 325px;
    left: 4rem;
}

.bottom ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    line-height: 3.5rem;
    font-size: 1rem;
}

.bottom-list-items {
    display: flex;
    align-items: center;
    color: #898888;
}

.bottom-list-items:nth-child(1) {
    color: #000;
}

.dot:first-child {
    color: #000 !important;
}

.dot {
    width: 15px;
    height: 15px;
    background-color: #898888;
    border-radius: 50%;
    margin-right: 2rem;
}

ul {
    position: relative;
}

ul .dot-line {
    position: absolute;
    top: 1.6rem;
    left: 0.5rem;
    height: 115%;
    width: 1px;
    background-color: #898888;
}

.bottom-sec {
    position: relative;
    bottom: 10rem;
    left: 18rem;
}

.bottom-sec > p {
    margin-top: -3.5rem;
    font-size: 18px;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

.right-img img {
    position: absolute;
    object-fit: cover;
    object-position: bottom;
    width: 420px;
    height: 219px;
}

.arrow-img {
    position: absolute;
    top: 4.2rem;
    right: -8rem;
}

.arrow-img img {
    display: block;
    width: 30px;
}

.quote-icon {
    position: absolute;
    top: -5rem;
    font-size: 43px;
}

.active-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 2rem;
    background-color: #000000 !important;
    z-index: 1;
}

@media screen and (max-width: 1334px) {
    .heading {
        top: -10px;
    }
    .heading h1 {
        font-size: 5rem;
    }
    .heading p {
        font-size: 1.4rem;
    }
    .btn-wrapper {
        padding: 15px 12px;
        font-size: 18px;
        top: 14rem;
        left: 25.5rem;
    }
    .icons {
        top: -1rem;
        right: -1rem;
    }
    .icon {
        width: 17px;
    }
    .list .line {
        width: 40%;
        height: 1.7px;
    }
}

@media screen and (max-width: 1142px) {
    .list .line {
        display: none;
    }
    .heading {
        top: -10px;
    }
    .heading h1 {
        font-size: 5rem;
    }
    .heading p {
        font-size: 1.4rem;
    }
    .btn-wrapper {
        padding: 15px 12px;
        font-size: 18px;
        top: 14rem;
        left: 22.5rem;
    }
    .icons {
        top: -1rem;
        right: -1rem;
    }
    .icon {
        width: 17px;
    }
    .list .line {
        width: 40%;
        height: 1.7px;
    }


    .bottom {
        left: 4rem;
    }
    
    .bottom ul {
        font-size: 1rem;
    }

    .dot {
        width: 10px;
        height: 10px;
        margin-right: 1rem;
    }
    ul .dot-line {
        top: 1.6rem;
        left: 0.3rem;
    }
    .bottom-sec > p {
        font-size: 15px;
    }
    .active-dot {
        width: 10px;
        height: 10px;
        margin-right: 1rem;
    }
}

@media screen and (max-width: 1052px) {
    .line {
        display: none;
    }
    .heading {
        top: -10px;
    }
    .heading h1 {
        font-size: 4rem;
    }
    .heading p {
        font-size: 1.3rem;
    }
    .btn-wrapper {
        padding: 15px 12px;
        font-size: 18px;
        top: 14rem;
        left: 18.5rem;
    }
    .icons {
        top: -1rem;
        right: 1rem;
    }
    .icon {
        width: 15px;
    }
    .list .line {
        width: 40%;
        height: 1.7px;
    }


    .bottom {
        left: 4rem;
    }
    
    .bottom ul {
        font-size: 1rem;
    }

    .dot {
        width: 10px;
        height: 10px;
        margin-right: 1rem;
    }
    ul .dot-line {
        top: 1.6rem;
        left: 0.3rem;
    }
    .bottom-sec > p {
        font-size: 15px;
    }
    .active-dot {
        width: 10px;
        height: 10px;
        margin-right: 1rem;
    }
    .bottom-sec {
        left: 12rem;
    }
}

@media screen and (max-width: 940px) {
    .icons {
        right: -1rem;
    }
    .main-cont {
        justify-content: center;
    }
    .image-wrapper {
        display: none;
    }
    .right-wrapper {
        width: 100vw;
    }
    .arrow-img {
        display: none;
    }
}
@media screen and (max-width: 596px) {
    .icons {
        right: -1rem;
    }
    .heading {
        top: 20px;
        left: 4%;
    }
    .btn-wrapper {
        padding: 15px;
        top: 10rem;
        left: 5.5rem
    }
    .heading h1{
        left: 0;
        font-size: 3rem;
    }
    .heading div {
        margin-left: 6rem;
    }
    .heading div p {
        font-size: 1rem;
        line-height: 1.4rem;
        padding-left: 5px;
    }
    .main-cont {
        justify-content: center;
    }
    .image-wrapper {
        display: none;
    }
    .right-wrapper {
        width: 100vw;
    }
    .arrow-img {
        display: none;
    }
    .quote-icon {
        font-size: 1rem;
    }
    .bottom ul {
        font-size: .8rem;
    }
    .bottom {
        left: 20px;
    }

.right-img img {
    position: absolute;
    object-fit: cover;
    object-position: bottom;
    width: 220px;
    height: 219px;
}
.bottom p {
    width: 280px;
    font-size: .8rem;
}

}

@media screen and (max-width: 727px) {
    .nav-wrapper  {
        height: 12vh;
        margin-bottom: 40px;
    }
    .list-item:nth-child(3) {
        width: 60px;
    }
}